:root {
    /* RECUADRO PRIMARY */
    --primary: #0B17A7;
    --primary-dark: #071366;
    --primary-blue: #123BE0;
    --primary-cyan: #4F8FD7;

    /* RECUADRO SECONDARY */
    --secondary: #16264A;
    --secondary-dark: #102144;
    --secondary-blue: #263B68;
    --secondary-light: #A4BCD4;

    /* RECUADRO TERTIARY */
    --tertiary: #0793EA;
    --tertiary-blue: #1196E7;
    --tertiary-light: #37B1FA;
    --tertiary-pale: #B7DDF0;

    /* RECUADRO NEUTRAL */
    --neutral: #AAC7D0;
    --neutral-blue: #7488AB;
    --neutral-dark: #5C7197;
    --neutral-light: #879FBB;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
main{
    background-color: #f7f9fc;;
}

.carousel{
    margin-top: 90px;
}

header{
    position:fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: white;
    box-shadow: 0 4px 25px -22px black ;
}

.header-contenido{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color: #164da8;
}

.menu{
    height: 80px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-seleccionado:before{
    content: '' ;
    width: 100%;
    height: 4px;
    background-color: #164da8;
    position: absolute;
    top: 0;
    left: 0; 
}

.menu nav ul li a{
    color: gray;
    text-decoration: none;
}

.menu .text-seleccionado{
    color: #164da8;
}
/* fin navbar */

/* inicio footer */
footer{
    background-color: #164da8;
    height: 240px;
}
.descripcionfooter{
   flex-direction: column;
}
.containerlogofooter{
    display: flex;
    justify-content: center !important;
}
.logofooter{
    width: 40px;
    height: 40px;
}
.containersubscripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footerredes{
    display: flex;
    flex-direction: column;
}
.imgredessociales{
    width: 30px;
    height: 30px;
}
.bi-instagram{
    width: 30px;
    height: 30px;
}
.contenedorredes{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 160px;
}
.contenedorredes a{
    color: gray;
    text-decoration: none;
}
.lineafooter{
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 20px;
    margin-top: 20px;
}
/* fin footer */
